  .thead-red{
    background: #b52d46 !important;
    color: white !important;
  }

  .thead-red .thead-search{
  color: black !important;
  }
  
  td{
    background: #ffffff !important;
    color: black !important;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #edc2c2 !important;
  }

  table{
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }
  
  .table > thead > tr > th > input {
    color: black ;
    height:40px;
    width: 100%;
    text-align:center !important;
  }

  .dataTables_filter {
  display: none; 
  }

.table > tbody > tr > td {
    vertical-align: middle;
}
.table > thead > tr > th {
    vertical-align: middle;
    text-align:center !important;
}

.search-header{
  background-color: darkgrey;
}